.button-container {
  display: grid;
  width: 400px;
  border-style: solid;
  justify-self: center;
}

.threeByTwo {
  display: inline-flex;
  flex-wrap: wrap;
  width: 300px;
  height: 180px;
  justify-self: center;
  vertical-align: top;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-self: center;
  grid-area: "row";
  height: 90px;
  width: 400px;
}
