.App {
  display: grid;
  grid-template-rows: minmax(0px, 90px);
  grid-template-columns: minmax(0px, 400px);
  height: 545px;
  width: 100%;
  justify-self: center;
  justify-content: center;
  justify-items: stretch;
}
